@font-face {
    font-family: 'firaCode';
    src: url('../fonts/firaCode/FiraCode-Regular.ttf') format("truetype");
}

.main-inner {

    height: auto;
    width: fit-content;

    display: flex;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: center;
}

.img {
    position: relative;
    right: -121px;
    bottom: 43px;

    width: 311px;
    height: 350px;

    background: url("../img/cl4pt4p.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: drop-shadow(-31px 10px 4px rgba(0, 0, 0, 0.3));
    transform: rotate(-5deg);
}


.notification-inner {
    display: flex;
    align-items: center;

    width: auto;
    height: 150px;

    background: #D9D9D9;
    border: 7px solid #000000;
    box-shadow: -50px 29px 12px rgba(0, 0, 0, 0.3);
    border-radius: 14px;

    overflow: hidden;
}

.notification-inner .notification-container {

    margin-left: 80px;
    padding-right: 40px;

    width: fit-content;

    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-rendering: geometricPrecision;
    white-space: nowrap;

    color: #000000;

    text-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    /* Typewriter animation code */
    animation:
        typing 3.5s steps(40, end)
}

.ux-show {
    animation: ux-show 6s ease-in-out;

}

.ux-showText {
    animation: ux-showText 6s ease-in-out;

}

.ux-typing {
    animation:
        typing 3.5s steps(40, end)
}

@keyframes ux-show {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(440px);
    }


    80% {
        opacity: 1;
        transform: translateY(440px);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

@keyframes ux-showText {
    0% {
        width: 0px;
    }

    50% {
        width: fit-content;
    }


    80% {
        width: fit-content;
    }

    100% {
        width: 0px;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}